<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
    <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate">Previous</div>
    <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">Today</div>
    <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate">Next</div>
    </div>
</div>
</div>

<mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"></mwl-calendar-month-view>

    <br /><br /><br />

<h3>
  Edit events
  <button class="btn btn-primary float-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div [formGroup]="formulario" class="table-responsive">
  <input formControlName="dia">
  <table formArrayName="fecha" class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>
      <tbody *ngFor="let event of fechas.controls; let i=index">
      <tr [formGroupName]="i">
        <td>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            (keyup)="refresh.next()"/></td>
          <td>
          <input
            type="color"
            (ngModelChange)="deber()"
            (change)="refresh.next()"
            (click)="index(i)"
            formControlName="color"
            /></td>
          <!-- [(ngModel)]="event.color.primary" -->
      <td><ng2-flatpickr [config]="configsStart[i]" (click)="index(i)"></ng2-flatpickr></td>
      <td><ng2-flatpickr [config]="configsEnd[i]" (click)="index(i)"></ng2-flatpickr></td>
      <td><button class="btn btn-danger" (click)="removeSkill(i)" (click)="deleteEvent(i)">Delete</button></td>
    <!-- </div> -->
    </tr>
  </tbody>
</table>
</div>

<!-- <pre> {{ formulario?.value | json }} </pre> -->