<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
        <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            >
            Previous
        </div>
        <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            Today
        </div>
        <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate">
            Next
        </div>
        </div>
    </div>

<div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
</div>
<mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)">
</mwl-calendar-month-view>

<br /><br /><br />
<br /><br /><br />

<h3>
Edit events
<button class="btn btn-primary float-right" (click)="addEvent()">Add new</button>
<!-- <div class="clearfix"></div> -->
    </h3>
    <br /><br /><br />


</div>


<input type="button" value="Agregar" (click)="addFecha()" class="btn btn-secondary">

<div [formGroup]="formulario">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Primary color</th>
                    <th>Starts at</th>
                    <th>Ends at</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <div formArrayName="fecha">
                    <div *ngFor="let skill of fechas.controls; let i=index"> 
                        <tr [formGroupName]="i">
                            <td>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="title"/>
                                <!-- (keyup)="refresh.next()" -->
                            </td>
                            <td>
                                <input
                                type="color"
                                formControlName="red"/></td>
                                <!-- (change)="refresh.next()" -->
                                <td>
                                {{i}}
                                <ng2-flatpickr [config]="startOptions" formControlName="fecha"></ng2-flatpickr>
                                <!-- <button (click)="removeSkill(i)" class="btn btn-dark mx-3">Remove</button> -->
                                </td>
                                <!-- <td><ng2-flatpickr [config]="startOptions" formControlName="fecha"></ng2-flatpickr></td> -->
                                <td><button class="btn btn-danger" (click)="removeSkill(i)" (click)="deleteEvent(event)">Delete</button></td>
                        </tr>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>

<pre> {{ formulario.value | json }} </pre>
